
html { text-align: center;margin: 0px;padding: 0px; border:none;
 	   scrollbar-face-color: #deddeb;
       scrollbar-highlight-color: #FFFFFF;
       scrollbar-shadow-color: #deddeb;
       scrollbar-3dlight-color: #aa99c7;
       scrollbar-arrow-color:  #022097;
       scrollbar-track-color: #F4F0EB;
       scrollbar-darkshadow-color: #aa99c7;
}
body { FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif; color:#000000;	 margin:0px auto 0px auto;	padding:0px;
 		scrollbar-face-color: #deddeb;
        scrollbar-highlight-color: #FFFFFF;
        scrollbar-shadow-color: #deddeb;
        scrollbar-3dlight-color: #aa99c7;
        scrollbar-arrow-color:  #022097;
        scrollbar-track-color: #F4F0EB;
        scrollbar-darkshadow-color: #aa99c7;
        text-align: center;
        
}
@media print{ 
.Noprint{display:none;}   
.PageNext{page-break-after:always;} 
} 

.font3 { COLOR: #1920d7; FONT-SIZE: 12px; TEXT-DECORATION: none;}
.font4{ font-weight: normal; color: black; border-left-style: none; border-right-style: none; border-top-style: none; border-bottom: .75pt solid #EAEAEA; background-color: #FFFFDD; }
.font5{ font-weight: bold; color: black; border-left-style: none; border-right-style: none; border-top-style: none; border-bottom: 1.5pt solid #EAEAEA; background-color: #CCCCCC;}
.font6{ font-weight: normal; color: black; border-left-style: none; border-right-style: none; border-top-style: none; border-bottom: .75pt solid #EAEAEA; background-color: white;}
TABLE { FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;}
TD { FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;}
TR { FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;}
/*---------------------------------------Public-----------------------------------------*/
/*======================================================================================*/
input{ height:18px;font-size: 12px; color:#000000; line-height:12px; solid #97A0A4 }
textarea{ border:1px solid #97A0A4; line-height:18px;}
select{font-size: 12px; color:#727272; solid #97A0A4 }
#leftSide ,#rightSide ,option{ font-size:12px; font:Arial, Helvetica, sans-serif}
label input{ border:none;}







form , ul{ padding:0px; margin:0px}
.OUTLine{border-left:1px solid #E6E6E6;  border-right:1px solid #E6E6E6; clear:both; text-align:left}
.underLine{	border-bottom: 1px dotted  #CBCBCB;}
.noneBorder{ border:none;}
.title{background:url(../images/title_dot.gif) no-repeat 5px center;line-height:34px;text-indent:15px;text-align:left; font-size:14px; font-weight:bold; color:#000;}
.LittleTitle{ display:block;  background:url(../images/title_dot.gif) no-repeat 1px;line-height:24px;font-size:12px; background-color:#F5F5F5;border-bottom:1px solid #ECECEC;	border-top:1px solid #ECECEC; font-weight:bold; color:#000000; text-indent:15px;	margin-bottom: 1px;}
.Button{width:70px; background: url(../images/button_bg.gif) repeat-x left top; line-height:17px; height:19px; border:1px solid #7BBFB7; font-size:12px; color:#000000;}
.Button2{width:90px; background: url(../images/button_bg.gif) repeat-x left top; line-height:17px; height:19px; border:1px solid #7BBFB7; font-size:12px; color:#000000;}
.Button3{width:110px; background: url(../images/button_bg.gif) repeat-x left top; line-height:17px; height:19px; border:1px solid #7BBFB7; font-size:12px; color:#000000;}
.jlbutton {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid
}

#HBoder{ width:100%; background-color:#FFFFFF;border-top:3px solid #BCBDBF; color:#F26521;:center; clear:both;}
#HBoder .funcButton{ width:90%;text-align:right; padding:3px; }


.hintNumber{ color:#F26521; font-weight:bold;}
.hintNumber a:link {color:#F26521; font-weight:bold;text-decoration: none;}
.hintNumber a:visited { color:#F26521; font-weight:bold; text-decoration: none;}
.hintNumber a:hover {color:#A0D658; font-weight:bold; text-decoration: none;}
.hintNumber a:active {color:#A0D658;font-weight:bold; text-decoration: none;}

/*======================================================================================*/
.Popnav {
	BORDER-TOP: #022097 5px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/ah_missionInfo_bg.gif) repeat-x left top; WIDTH: 100%; COLOR: #022097; LINE-HEIGHT: 34px; BORDER-BOTTOM: #dcdcdc 1px solid
}
.Popnav_bk {

	BORDER-TOP: #dcdcdc 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(../images/ah_missionInfo_bg_bk.gif) repeat-x left top; WIDTH: 100%; COLOR: #022097; LINE-HEIGHT: 34px; BORDER-BOTTOM: #022097 5px solid

}
/*======================================================================================*/
#location{display:block; margin-bottom:1px; overflow:hidden; background-color:#EAEAEA; line-height:25px; text-align:left; text-indent:5px; color:#727272}
#location td{text-indent:3px; border-bottom:1px solid #EAEAEA; border-left:1px solid #EAEAEA; border-right:1px solid #EAEAEA; line-height:25px; color:#000000; text-indent:2px;}
#location a:link {color:#727272;text-decoration: none;}
#location a:visited { color:#727272;text-decoration: none;}
#location a:hover {color:#F26521;text-decoration: none;}
#location a:active {color:#F7941C;text-decoration: none;}

#mylocation{display:block; margin-bottom:1px; overflow:hidden; background-color:#E6E6E6; line-height:25px; text-align:left; text-indent:5px; color:#727272}
#mylocation a:link {color:#727272;text-decoration: none;}
#mylocation a:visited { color:#727272;text-decoration: none;}
#mylocation a:hover {color:#F26521;text-decoration: none;}
#mylocation a:active {color:#F7941C;text-decoration: none;}
/*======================================================================================*/

/*======================================================================================*/
#turnOver{width:100%; color:#727272; line-height:28px; background-color:#DFF1F5; border-bottom:1px solid #E6E6E6; text-align:center;}
#turnOver img{margin-left:3px;	margin-right:3px; margin-bottom:3px;vertical-align: middle;}
#turnOver a:link {color:#727272;text-decoration: none;}
#turnOver a:visited { color:#727272;text-decoration: none;}
#turnOver a:hover {color:#F26521;text-decoration: none;}
#turnOver a:active {color:#F7941C;text-decoration: none;}
/*======================================================================================*/



/*======================================================================================*/
.logo{
	float:left;
	background-image: url(../images/logo.gif);
	background-repeat: no-repeat;
	width: 100%;
	height: 72px;
}
#top{ background-image:url(../images/title_ah.gif); height:72px; background-position:top right; background-color:#FFFFFF; background-repeat:no-repeat}
#topnav {FONT-SIZE: 12px; MARGIN: 3px; COLOR: #727272; LINE-HEIGHT: 30px; TEXT-ALIGN: right}
#topnav A:link {COLOR: #727272; TEXT-DECORATION: none}
#topnav A:visited {COLOR: #727272; TEXT-DECORATION: none}
#topnav A:hover {COLOR: #f26521; TEXT-DECORATION: none}
#topnav A:active {COLOR: #f7941c; TEXT-DECORATION: none}

#topSerch{padding-right:10px; margin-top:10px;  text-align:right;}
.topSerchButton{background-image:url(../images/serch_button.gif);border:none;height: 17px;width: 17px;}
/*======================================================================================*/

/*======================================================================================*/
#Nav{width:100%; background-color:#022097; margin-bottom:2px; text-align:center}
#Nav img{ margin:5px 0px;}
#Nav .now{background-color:#022097; background-image:url(../images/nav_onMouseOverBg.gif); background-repeat:repeat-x;}
#Nav .nonow{background-color:#022097; background-repeat:repeat-x;}
#Nav a{ float:left; display:block; padding:1px 15px; border-left:1px solid #FFFFFF; font-size:12px; font-weight: bold;color: #FFFFFF; padding-top:6px; padding-bottom:3px;}
#Nav a:link {background-color:#022097; font-size:12px; font-weight: bold;color: #FFFFFF; padding-top:6px; padding-bottom:3px; text-decoration:none;}
#Nav a:visited {background-color:#022097; font-size:12px; font-weight: bold;color: #FFFFFF; padding-top:6px; padding-bottom:3px; text-decoration:none;}
#Nav a:hover {background-color:#022097; background-image:url(../images/nav_onMouseOverBg.gif); background-repeat:repeat-x; font-size:12px; font-weight: bold;color: #FFFFFF; padding-top:6px; padding-bottom:3px; text-decoration:none;}
/*======================================================================================*/
#UserInfo{ border-bottom:1px solid #B8CDD0; border-top:1px solid #B8CDD0; margin-bottom:1px;line-height:24px;  height:24px; width:100%;color:#008C22; background-color:#D5EEF1;}
#UserInfo .NowTime{float:left; display:block; padding-left:10px;}
#UserInfo .Info{ float:right; display:block; padding-right:10px;}
/*======================================================================================*/
/*======================================================================================*/

/*======================================================================================*/
#copyright{width:100%;text-align:center;line-height:30px;/*border-bottom:1px solid #E6E6E6; padding:20px auto 25px auto;*/}
#copyright .Hline{width:95%; background-color: #BCBDBF; text-align:right; padding-right:5%;}
/*======================================================================================*/


/*---------------------------------------Home-----------------------------------------*/

/*======================================================================================*/
#multifunctional_Menu{ width:100%;display:block; overflow:hidden; float:left; border-top:4px solid #BCBDBF;  background-color:#EEEDEE}
#multifunctional_Menu ul{ border-top:1px dotted #D2D2D2;}
#multifunctional_Menu li{list-style-image: url(../images/Nav_ListDot.gif);text-indent: 20px; line-height:24px;color: #000000; border-bottom:1px dotted #D2D2D2; text-align: left;}
#multifunctional_Menu a:link {color:#000000;text-decoration: none;}
#multifunctional_Menu a:visited { color:#000000;text-decoration: none;}
#multifunctional_Menu a:hover {color:#009F4B;text-decoration: none;}
#multifunctional_Menu a:active {color:#00AEEF;text-decoration: none;}

#multifunctional_Menu .more{ color:#727272;text-align:right; padding-right:10px; line-height:24px; margin-top:5px;font-weight:bold;}
#multifunctional_Menu .more img{line-height: 24px;margin: 3px;text-align: left;	vertical-align: middle;}
#multifunctional_Menu .more a:link {color:#727272;text-decoration: none;}
#multifunctional_Menu .more a:visited { color:#727272;text-decoration: none;}
#multifunctional_Menu .more a:hover {color:#022097;text-decoration: none;}
#multifunctional_Menu .more a:active {color: D71920;text-decoration: none;}
/*======================================================================================*/

/*======================================================================================*/
#messagesAndHint{float:left;	height:200px;overflow:hidden;background: url(../images/message_BG.gif) repeat-x; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;}

#messages{ height:58px; width:99%; margin:1px; }
#messages .messagesL{background: url(../images/message_L.gif)  no-repeat left top;	height: 58px;width: 15px; float:left;}
#messages .messagesR{background: url(../images/message_R.gif) no-repeat left top;	height: 58px;width: 15px;float:left;}
#messages .messagesM{background: url(../images/message_M.gif) repeat-x left top;	height: 58px; width: 70%;float:left;}
#messages .messagesBtn{width:70px; text-align:center; margin-top:25px;float:left; }

#messages .messagesM a{ display:block;background:url(../images/message_listDot.gif) no-repeat left 5px; text-indent:15px; width:100%;text-overflow : clip }
#messages .messagesM a:link {color:#898989;text-decoration: none;}
#messages .messagesM a:visited { color:#898989;text-decoration: none;}
#messages .messagesM a:hover {color:#A0410A;text-decoration: none;}
#messages .messagesM a:active {color:#F26521;text-decoration: none;}
#messages .messagesM marquee{ display:block; height:48px; margin-top:5px;}


#hint {width:100%; display:block; height:130px; color:#555555}
#hint .title{ line-height:24px; font-size:12px;background-color:#F5F5F5; border-bottom:1px solid #ECECEC; border-top:1px solid #ECECEC;}
#hint .content{ margin-left:15px; margin-top:5px;height:200px; overflow:scroll; overflow-x:hidden; line-height:24px;}
#hint a:link {color:#555555;text-decoration: underline;}
#hint a:visited { color:#555555;text-decoration: underline;}
#hint a:hover {color:#A0410A;text-decoration: underline;}
#hint a:active {color:#F26521;text-decoration: underline;}

/*======================================================================================*/

/*======================================================================================*/
#achievement{ height:200px; overflow:hidden;border-left:1px solid #EEEDEE; float:left }
#achievement .title{line-height:26px;}
#achievement .content{ width:100%; margin-top:8px;}
#achievement ul{ border-top:1px dotted #D2D2D2;}
#achievement li{list-style-image: url(../images/message_listDot.gif);text-indent: 20px; line-height:24px;color: #000000; border-bottom:1px dotted #D2D2D2; text-align: left;}
#achievement th{border-top: 1px dotted #022097;	border-bottom:1px dotted #022097; line-height:24px; color:#00000; font-weight:bold;}
#achievement td{ line-height:24px; color:#000000; text-indent:5px;}

#achievement .more{width:100%;background-color:#022097; font-weight:bold; line-height:24px; }
#achievement .more a{display:block;width:40%;float:left;color:#FFFFFF;text-align:left;margin-left:10px;text-indent:10px;	background:url(../images/white_dot.gif) no-repeat left 8px;}
#achievement .more a:link {color:#FFFFFF;text-decoration: none;}
#achievement .more a:visited { color:#FFFFFF;text-decoration: none;}
#achievement .more a:hover {color:#FFF200;text-decoration: none;}
#achievement .more a:active {color:#FFFCD4;text-decoration: none;}
/*======================================================================================*/

/*======================================================================================*/

#missionInfo{ width:100%; background: url(../images/missionInfo_bg.gif) repeat-x left top;border-top:3px solid #BCBDBF; color:#F26521;line-height:42px; text-align:center; clear:both;}
#missionInfo a:link {color:#0FB0FF; font-weight:bold;text-decoration:none;}
#missionInfo a:visited { color:#0FB0FF;font-weight:bold;text-decoration: none;}
#missionInfo a:hover {color:#339C00;font-weight:bold;text-decoration: underline;}
#missionInfo a:active {color:#909C00;font-weight:bold;text-decoration: underline;}

/*======================================================================================*/

/*======================================================================================*/
#infoList{width:100%;}
#infoList .title{ line-height:30px; font-size:12px;background-color:#F5F5F5; border-bottom:1px solid #ECECEC; border-top:1px solid #ECECEC;margin-top:5px;}
#infoList .title table{ line-height:30px;}
/*#infoList .title td{font-size:12px;}*/
/*#infoList .title input{margin-right:1px; text-indent:3px; border-bottom:1px solid #EAEAEA;border-left:0px solid #EAEAEA; border-right:0px solid #EAEAEA; line-height:24px; color:#000000; text-indent:2px;}*/
#infoList .selectBar{ background:#D5EEF1; line-height:24px; text-align:center; padding:3px; border-left:1px solid #FFF;}
#infoList .more{width:100%; font-weight:bold; line-height:24px; text-align:right}
#infoList .listOutLine{ border:1px solid #ECECEC; margin:1px}
#infoList .more a:link {color:#FFFFFF;text-decoration: none;}
#infoList .more a:visited { color:#FFFFFF;text-decoration: none;}
#infoList .more a:hover {color:#FFF200;text-decoration: none;}
#infoList .more a:active {color:#FFFCD4;text-decoration: none;}
/*======================================================================================*/

/*======================================================================================*/
#minTable{ width:70%; display:block; margin-top:1px; text-align:left; overflow:auto; overflow-y:hidden;margin-left: auto;margin-right: auto;}
#minTable .bolder{ width:100%; display:block; margin-top:1px; text-align:left; overflow:auto; overflow-y:hidden; border:1px solid #EAEAEA;}
#minTable .location{display:block; margin-bottom:1px; overflow:hidden; background-color:#f4f4f4; line-height:30px; text-align:left; text-indent:5px; color:#727272}
#minTable .location td{text-indent:3px; border-bottom:1px solid #EAEAEA;border-left:0px solid #EAEAEA; border-right:0px solid #EAEAEA; line-height:20px; color:#000000; text-indent:2px;}
#minTable ul{ width:100%;}
#minTable li{list-style-image: url(../images/dot1.gif);text-indent: 20px; line-height:24px;color: #000000; border-bottom:1px solid #EAEAEA; text-align: left;}
#minTable a{ color:#727272;}
#minTable a:link {color:#727272;text-decoration: none;}
#minTable a:visited { color:#727272;text-decoration: none;}
#minTable a:hover {color:#022097;text-decoration: none;}
#minTable th a:active {color:#022097;text-decoration: none;}
#minTable th{text-indent:3px;background: url(../images/table_headBG.gif) repeat-x left top;	border-top:1px solid #FFFFFF;border-bottom:1px solid #BCBDBF;line-height:28px;	color:#000000;	font-weight:normal;}
#minTable td{text-indent:2px; border-left:1px solid #EAEAEA; border-right:1px solid #EAEAEA; line-height:15px; color:#021b81; text-indent:2px;}
#minTable th a{ display:block; color:#727272}
#minTable th a:link {color:#727272;text-decoration: none;}
#minTable th a:visited { color:#727272;text-decoration: none;}
#minTable th a:hover {color:#022097;text-decoration: none;}
#minTable th a:active {color:#022097;text-decoration: none;}
#minTable .lable{ font-weight:bold; padding-right:15px; }
#minTable .overTr{ background-color:#CBEEFC;}
#minTable .grey{  background-color:#f4f4f4;}
/*======================================================================================*/

/*======================================================================================*/
#missionTable{ width:100%; display:block; margin-top:1px; text-align:left; overflow:auto; overflow-y:hidden;margin-left: auto;margin-right: auto;}
#missionTable .bolder{ width:100%; display:block; text-align:left; overflow:auto; overflow-y:hidden; border:1px solid #EAEAEA;}
/*#missionTable table{ width:100%; border:0px; cellspacing:1px; cellpadding:1px;}*/
#missionTable .location{display:block; margin-bottom:1px; overflow:hidden; background-color:#f4f4f4; line-height:30px; text-align:left; text-indent:5px; color:#022097}
#missionTable .location td{text-indent:3px; border-bottom:1px solid #EAEAEA;border-left:0px solid #EAEAEA; border-right:0px solid #EAEAEA; line-height:20px; color:#022097; text-indent:2px;}
#missionTable ul{ width:100%;}
#missionTable li{list-style-image: url(../images/dot1.gif);text-indent: 20px; line-height:24px;color: #022097; border-bottom:1px solid #EAEAEA; text-align: left;}
#missionTable a{ color:#022097;}
#missionTable a:link {color:#022097;text-decoration: none;}
#missionTable a:visited { color:#022097;text-decoration: none;}
#missionTable a:hover {color:#000000;text-decoration: none;}
#missionTable a:active {color:#022097;text-decoration: none;}
#missionTable th{text-indent:3px;background: url(../images/table_headBG.gif) repeat-x left top;	border-top:1px solid #FFFFFF;border-bottom:1px solid #BCBDBF;line-height:24px;	color:#FFFFFF;	font-weight:normal;}
#missionTable tr{border-bottom:1px solid #EAEAEA; border-left:1px solid #EAEAEA; border-right:1px solid #EAEAEA; line-height:22px; text-indent:2px;}
#missionTable td{text-indent:3px; border-bottom:1px solid #EAEAEA; border-left:1px solid #EAEAEA; border-right:1px solid #EAEAEA; line-height:22px; text-indent:2px;}
#missionTable th a{ display:block; color:#727272}
#missionTable th a:link {color:#727272;text-decoration: none;}
#missionTable th a:visited { color:#727272;text-decoration: none;}
#missionTable th a:hover {color:#022097;text-decoration: none;}
#missionTable th a:active {color:#022097;text-decoration: none;}
#missionTable .lable{ font-weight:bold; padding-right:15px; }
#missionTable .overTr{ background-color:#CBEEFC;}
#missionTable .grey{  background-color:#f4f4f4;}
/*======================================================================================*/

.mustInput{color:#FF6600; font-size:14px;}
/*---------------------------------------pages frame-----------------------------------------*/
/*======================================================================================*/
#leftSide{background:#F7F7F7 url(../images/Left_title.gif) no-repeat left top; float:left; display:block; width:100%; line-height:24px; margin-top:1px; text-align:left;}
#leftSide .title{ border-bottom:2px solid #022097; line-height:35px; color:#000000}
#leftSidecontent{ border-right:1px solid #E5E5E5; text-align:left; width:96%; padding:2%}
#leftSide label input{border: none;}
#leftSide li{list-style:none;background:url(../images/dot2.gif) no-repeat left 5px ;text-indent: 25pt; border-bottom:1px dotted #CACACA;}
#leftSide a:link {color:#000000;text-decoration: none;}
#leftSide a:visited { color:#000000;text-decoration: none;}
#leftSide a:hover {color:#F26521;text-decoration: none;}
#leftSide a:active {color:#F26521;text-decoration: none;}

/*----------second  menu -------------------*/
#leftSide ul ul{padding-left:10px; border-top:1px dotted #CACACA; display:block;}
#leftSide li li{list-style:none;background:url(../images/dot3.gif) no-repeat left center;text-indent: 10pt; border:none;}
/*---------------------------------------*/




#leftSide{background:#F7F7F7 url(../images/Left_title.gif) no-repeat left top; float:left; display:block; width:100%; line-height:24px; margin-top:3px;}
#leftSide .title{
	line-height:35px;
	color:#000000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #022097;
}
#leftSidecontent{ border-right:1px solid #E5E5E5; text-align:left; width:96%; padding:2%}
#leftSide label input{border: none;}
#leftSide li{list-style:none;background:url(../images/dot2.gif) no-repeat left 5px ;text-indent: 25pt; border-bottom:1px dotted #CACACA;}
#leftSide a:link {color:#727272;text-decoration: none;}
#leftSide a:visited { color:#727272;text-decoration: none;}
#leftSide a:hover {color:#81D028;text-decoration: none;}
#leftSide a:active {color:#81D028;text-decoration: none;}

/*----------second  menu -------------------*/
#leftSide ul ul{padding-left:10px; border-top:1px dotted #CACACA; display:block;}
#leftSide li li{list-style:none;background:url(../images/dot3.gif) no-repeat left center;text-indent: 10pt; border:none;}
/*---------------------------------------*/

/*======================================================================================*/

/*======================================================================================*/
#rightSide{display:block;width:98%;line-height:24px;margin-top:3px;margin-left:0px; text-align:center;}

#rightSide td{ line-height:24px;}
#rightSide  .title{ display:block; line-height:24px;font-size:12px; background-color:#F5F5F5;border-bottom:1px solid #ECECEC;	border-top:1px solid #ECECEC;	margin-bottom: 1px;}
#rightSide .intor{}

/*----------message List -------------------*/
#rightSide .Listcontent{width:99%; text-align:left; line-height:24px;margin-top:10px;}	
#rightSide .Listcontent a{ display:block; padding:0px; background:url(../images/message_listDot.gif) no-repeat left 8px; text-indent:10px; }
#rightSide .Listcontent a:link {color:#000;text-decoration: none;}
#rightSide .Listcontent a:visited { color:#000;text-decoration: none;}
#rightSide .Listcontent a:hover {color:#A0410A;text-decoration: none;}
#rightSide .Listcontent a:active {color:#F26521;text-decoration: none;}
/*-----------------------------*/

/*---------- content -------------------*/
#rightSide .content{width:99%; text-align:left; line-height:24px;margin:10px auto 10px auto;}	
#rightSide .content a:link {color:#000;text-decoration: none;}
#rightSide .content a:visited { color:#000;text-decoration: none;}
#rightSide .content a:hover {color:#FF6600;text-decoration: none;}
#rightSide .content a:active {color:#F26521;text-decoration: none;}
/*---------------------------------------*/

/*-------------- messages outline---------------*/
#prewarning_contentBox{border:1px solid #EAEAEA; padding:3px;text-align:left;line-height:24px; margin:1px;}
#prewarning_contentBox td{line-height:24px;}
#prewarning_contentBox img{float:left;margin:8px 10px 8px 10px;}

/*------------------------------------------------*/

/*======================================================================================*/

/*======================================================================================*/
	#mission { line-height:24px; text-align:left; width:100%; padding:3px; margin:5px 0px 0px 15px ;}	
	#mission a:link {color:#F26521;text-decoration: none;}
	#mission a:visited { color:#F26521;text-decoration: none;}
	#mission a:hover {color:#022097;text-decoration:underline;}
	#mission a:active {color:#022097;text-decoration:underline;}
/*======================================================================================*/

/*======================================================================================*/
#expandButton{width:16px; height:16px; padding:4px; float:right; margin-right:15px;}
/*======================================================================================*/

/*======================================================================================*/
#expandList{ width:100%; display:table; margin-top:2px; text-align:left;}
#expandListHeadBar{  width:100%; display:table-column-group; background-color:#68C8D4; color:#FFFFFF;line-height:24px; font-weight:bold;}
#expandListBar{ width:100%; display:table-column-group; margin-bottom:1px;background:url(../images/ListTree_bg.gif) repeat-x; color:#2C7D8D;line-height:24px;}
#expandListTD{float:left; display:table-column;width:15%; text-indent:3px;}
#expandListTD img{ margin:7px 4px;  float:left;}
/*======================================================================================*/

/*======================================================================================*/
#LableNav{ margin-top:5px; width:99%; text-align:right; float:left; border-bottom:1px solid #61BBC6;}
#LableNav a{ display:block; float:right;line-height:20px; text-align:center; padding-top:7px; background:url(../images/lableBg1.gif) no-repeat;}
#LableNav a:link {color:#0074B8; text-decoration: none; width:110px;}
#LableNav a:visited {color:#0074B8;text-decoration: none; width:110px;}
#LableNav a:hover {color:#B83400;text-decoration:none; width:110px; background:url(../images/lableBg2.gif) no-repeat;}
#LableNav a:active {color:#F7941C;text-decoration:none; width:110px; background:url(../images/lableBg2.gif) no-repeat;}
#LableNav .nowSlect{display:block; float:right;line-height:20px; text-align:center; padding-top:7px;text-decoration:none; color:#B83400;  width:110px; background:url(../images/lableBg2.gif) no-repeat;}
#LableNav_underLine{ width:99%;float:left; border-top:12px solid #68C8D4;}
/*======================================================================================*/

/*======================================================================================*/
#infoTable{text-align:center; margin-top:10px;}
#infoTable .tablebolder{width:95%;padding:10px;border:1px solid #61BBC6;text-align:center;}
#infoTable table{ background-color:#EAEAEA}
#infoTable td{ background-color:#FFFFFF; text-indent:5px; line-height:24px;};
/*======================================================================================*/

/*======================================================================================*/
.timeout{ background-color:#FFC06E; text-align:center; border-bottom:1px solid #FFFFFF}
.intime{background-color:#B3E3E7; text-align:center; border-bottom:1px solid #FFFFFF}
.redline{margin-10px; border:1 solid #022097;}
/*======================================================================================*/